@charset "UTF-8";

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

$colorPrimary: rgb(0, 188, 212);

.clearfix {
  @include clearfix;
}

* {
  box-sizing: border-box;
}

html, body {
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.toolbar {
  background: $colorPrimary;
  padding: 15px 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  z-index: 4;
  position: relative;

  &__icon {
    float: left;
    margin: 3px 0 0 15px;

    span{
      color: #fff !important;
      font-size: 24px !important;
      float:left;
      font-weight: 700;
    }
    span.material-icons{
      color: #fff !important;
      font-size: 29px !important;
      float:left;
      font-weight: normal;

    }
  }

  &__input-group {
    position: relative;
    margin-top: -7px;

    .input {
      padding: 0 10px;
      margin: 0 5px 0 0;
      height: 40px;
      width: calc(100% - 240px);
      min-width: 190px;
      max-width: 800px;
      font-size: 14px;
    }

    .search-button {
      display: inline-block;
      position: relative;
      right: 50px;
      top: 6px;
      border-left: 1px solid #ccc;
      width: 44px;
      height: 38px;
      background: #f2f2f2;
      cursor: pointer;

      svg{
        margin-top: 6px;
      }
    }
  }
}

.list-books {
  position: relative;
  padding: 0 15px;
  list-style: none;

  &__book-card {
    position: relative;
    padding: 15px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 2px #ccc;
    cursor: pointer;

    &.selected {
      &:after {
        position: absolute;
        top: 15px;
        right: -8px;
        content: "\f0da";
        font-family: FontAwesome;
        color: #fff;
        font-size: 30px;
      }
    }

    &:hover {
      box-shadow: 0 2px 4px #ccc;

      .info-container h4 {
        color: $colorPrimary;
      }
    }

    & + & {
      margin-top: 15px;
    }

    .image-container {
      float: left;
      margin-right: 15px;

      img {
        width: 100px;
        border: 1px solid #ccc;
      }
    }

    .info-container {
      float: right;
      width: calc(100% - 115px);

      h4 {
        margin: 0 0 5px;
        font-weight: 700;
      }
      h5 {
        margin: 0 0 15px;
        font-weight: normal;
        color: #666;
      }
      span {
        font-size: 13px;
        color: #666;
      }
    }
  }
}

.book-details {
  position: relative;
  padding-left: 15px;
  border-left: 1px solid #ccc;

  &__title {
    max-width: calc(100% - 48px);
    margin-bottom: 15px;
  }

  &__general {
    margin-bottom: 10px;
    @include clearfix;

    &-photo {
      float: left;
      width: auto;
      text-align: left;
      margin-right: 20px;

      img{
        border: solid 1px #ccc;
        min-width: 128px;
      }
    }
    &-info {
      float: left;
      width: auto;
    }
  }

  &__item {
    margin-bottom: 10px;

    label {
      display: block;
      font-weight: 600;
      font-size: 13px;
      color: rgba(0,0,0,.5)
    }

    span{
      font-size:14px;

    }
  }

  &__authors {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;

        &:after {
          content: ";";
        }
      }

      li + li {
        &:before {
          content: "";
          margin-right: 2px;
        }
      }
    }
  }

  &__open-content-container {
    text-align: center;
    margin: 15px 0;
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.search-results {
  position: relative;

  &__results-container {
    float: left;
    width: 60%;
    background-color: #eee;
    overflow-y: auto;
    height: calc(100vh - 66px);
  }

  .book-details {
    right: 0;
    position: fixed;
    width: 40%;
    height: 100vh;
    overflow-y: auto;
  }

  &__total-itens {
    color: #999;
    text-align: center;
    margin: 10px 0 0;
    font-size: 14px;
  }

  &__load-more {
    text-align: center;
    margin: 15px 0;
  }
}

@media  (max-width: 768px){

  .search-results__results-container {
    float: left;
    width: 100%;
  }

  .search-results .book-details {
    width: 100vw;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    background: #fff;
    padding: 15px;
  }

  h1.book-details__title {
    margin-top: 0;
  }

}
