@charset "UTF-8";

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.toolbar {
  background: #ccc;
  padding: 15px 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;

  &__input-search {
    padding: 0 10px;
    margin: 0 5px 0 0;
    height: 32px;
    width: calc(100% - 140px);
    min-width: 190px;
    max-width: 600px;
  }
}

.list-books {
  padding: 0 15px;
  list-style: none;

  &__book-card {
    cursor: pointer;

    & + & {
      margin-top: 15px;
    }
  }
}

.book-details {
  position: relative;
  padding-left: 15px;
  border-left: 1px solid #ccc;

  &__title {
    max-width: calc(100% - 48px);
  }

  &__general {
    margin-bottom: 10px;
    @include clearfix;

    &-photo {
      float: left;
      width: 50%;
      text-align: center;
    }
    &-info {
      float: right;
      width: 50%;
    }
  }

  &__item {
    margin-bottom: 10px;

    label {
      display: block;
      font-weight: 600;
    }
  }

  &__authors {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;

        &:after {
          content: ";";
        }
      }

      li + li {
        &:before {
          content: "";
          margin-right: 2px;
        }
      }
    }
  }

  &__open-content-container {
    text-align: center;
    margin: 15px 0;
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.search-results {
  position: relative;

  &__results-container {
    float: left;
    width: 60%;
    background-color: #eee;
  }

  .book-details {
    right: 0;
    float: right;
    width: 40%;
    height: 100vh;
  }

  &__total-itens {
    color: #999;
    text-align: center;
    margin: 10px 0 5px;
  }

  &__load-more {
    text-align: center;
    margin: 15px 0;
  }
}
